mixin bookingRow(booking,index)
    tr
        td #{index}
        td #{booking._id}
        td #{booking.user? booking.user.name : 'Deleted User'}
        td #{booking.tour.name}
        td= `${booking.createdAt.toLocaleString('en-us', {day:'numeric' ,month: 'long', year: 'numeric'})}`
        td= `$${booking.price}`
        td #{booking.paid? 'Paid' : 'Pending'}
        td
            a(href='#' class="delete" title="Delete" data-id=`${booking._id}` data-toggle="tooltip")
                i(class="material-icons") &#xE872;