mixin reviewRow(review,index)
    tr
        td #{index}
        td #{review.user? review.user.name : 'Deleted User'}
        td #{review.rating}
        td #{review.review}
        td #{review.tour.name}
        td= `${review.createdAt.toLocaleString('en-us', {day:'numeric' ,month: 'long', year: 'numeric'})}`